/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --color-grey-900: #2a4144;
  --color-grey-500: #86a2a5;
  --color-green-600: #0c7d69;
  --color-green-200: #e0f1e8;
  --color-red: #d73c3c;

  --text-heading: 32px;
  --text-heading--line-height: 100%;
  --text-heading--letter-spacing: -1px;
  --text-heading--font-weight: 700;

  --text-body-md-bold: 18px;
  --text-body-md-bold--line-height: 150%;
  --text-body-md-bold--letter-spacing: 0px;
  --text-body-md-bold--font-weight: 700;

  --text-body-md-regular: 18px;
  --text-body-md-regular--line-height: 150%;
  --text-body-md-regular--letter-spacing: 0px;
  --text-body-md-regular--font-weight: 400;

  --text-body-sm: 16px;
  --text-body-sm--line-height: 150%;
  --text-body-sm--letter-spacing: 0px;
  --text-body-sm--font-weight: 400;
}

@layer base {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
}

@utility green-outline {
  outline: var(--color-green-600) solid 1px;
}
